	/*=============styling body of about page==============*/
//body{background-image:url("images/Moringa.jpg");}
body{background-color:white;}
#head-color{background-color: #DAF7A6 ;
			text-align: center;
			color: #307bbd;
			border-radius: 5px;
			font-size: 20px;}
/*=============styling personal life section===========*/
#para-personal{text-align: cener;
			font:bold 15px arial;}
#image{
	border-radius: 1%;
}
#moringa{margin:0px;}
//.image{border-radius: 50%;

  	}
  /*=============syling round-inline-images========*/

.image2 {
	border-radius: 50%;
	margin-left: 60px;
}


/*===========styling footer nav-bar of the about's page===========*/
 #navbar-footer{background-color: #DAF7A6 ;
		margin: 0px;
		height:50px;
		vertical-align: middle;
		border-radius: 5px;}
#navbar-footer ul{list-style-type: none;
		text-align: center;
		vertical-align: middle;
		padding-top: 18px;}
#navbar-footer ul li{display: inline;
			vertical-align: middle;
			}
#navbar-footer ul li a{text-decoration: none;
				font-size: 18px;
					padding: 15px 15px 15px 15px;
					background-color: white;
					border-radius: 5px;
					vertical-align: middle;
					margin:9px;
				}
#navbar-footer ul li a:hover{background-color: black;
					color:white;}




